* {
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal; 
}
    
p {
    color: #f3f3f3; 
    font-size: 23px;
}

body{
  min-height: 100vh;
  width: 100%;
}

/* Page background */

#checkerboard {
  background-color: #575757; /* Light background color */
  background-image: 
  linear-gradient(45deg, #222324 25%, transparent 50%),
  linear-gradient(-45deg, #222324 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #222324 75%),
  linear-gradient(-45deg, transparent 75%, #222324 75%);
  background-size: 150px 150px;
  min-height: 100%; /* Full viewport height */
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.imgcaption{
  font-family: Helvetica;
  font-size: 1.2em;
  color: #f3f3f3
}

.customBreak {
  /* Custom hr break */
  border-top: 2px solid #cacaca; 
  width: 90%; 
  margin: 1em auto 1em;
  opacity: 1; 
  position: relative;
  z-index: 1; 
}

.customBreakTop {
  /* Custom hr break */
  border-top: 2px solid #f3f3f3; 
  width: 100%; 
  margin: -1.2em auto 0.3em;
  opacity: 1; 
  position: relative;
  z-index: 1; 
}

.customBreaktop {
  /* Custom hr break */
  border-top: 2px solid #cacaca; 
  width: 95%; 
  margin: auto auto 1em;
  opacity: 1; 
  position: relative;
  z-index: 1; 
}

.customBreakbot {
  /* Custom hr break */
  border-top: 2px solid #cacaca; 
  width: 95%; 
  margin: 1em auto auto;
  opacity: 1; 
  position: relative;
  z-index: 1; 
}

.customBreakBot {
  /* Custom hr break */
  border-top: 2px solid #f3f3f3; 
  width: 100%; 
  margin: 0.3em auto -1.2em;
  opacity: 1; 
  position: relative;
  z-index: 1; 
}

.tienne-regular {
  font-family: "Tienne", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3em;
}

.canvasContainer{
  position: relative;
  width: 100%;
  height: auto;
  z-index: -2;
}

.bg-gradientalt {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)); /* Default gradient overlay */
  background-repeat: repeat-x; /* Ensures gradient is tiled horizontally if needed */
  background-size: 100% 100%; /* Matches the size of the background */
}

.bg-gradient-inverted {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}


/* Trying to DRY my styling by combining the custom bootstrap classes into single use custom classes */
/* Bootstrap styles .bg-dark, .bg-gradient, and .btn-outline-light would only function outside of the custom class 
so that is why they are excluded from the mainstyle sheet */

.myHeader {
    
  /* Styles from container-fluid */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
  /* Styles from d-flex */
  display: flex !important;

  /* Styles from flex-column */
  flex-direction: column !important;

  /* Styles from justify-content-center */
  justify-content: center !important;

  /* Additional styling */
  min-height: 100px; 
  height: 25vh; 
  padding: 20px;  
}

.myEmailForm {
  width: 100%;                           /* Full-width container */
  padding-right: 15px;                    /* Bootstrap container padding */
  padding-left: 15px;
  margin-right: auto;                     /* Centered horizontally */
  margin-left: auto;
  color: #f3f3f3 !important;              /* Light text color */
  padding-bottom: 3rem !important;        /* Bottom padding */
  padding: 20px 40px;                     /* Padding around the content */
}

.btn-email {
  display: block !important;               /* Block display for full-width */
  font-weight: 400;
  color: #f3f3f3;                          /* Light text color */
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: 1px solid #f3f3f3;               /* Light border color */
  padding: 0.25rem 0.5rem;                 /* Small button padding */
  font-size: 0.875rem;                     /* Small font size */
  line-height: 1.5;
  border-radius: 0.2rem;                   /* Small border radius */
  margin-top: 1rem !important;             /* Top margin (mt-3) */
  margin-left: auto !important;            /* Center horizontally */
  margin-right: auto !important;
  width: 150px;                            /* Fixed width */
}

.customimg {
  border-style: outset;
  border-color: #f3f3f3;
  border-width: 5px;
  border-radius: 0.50rem;
}

.text-container {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 25%, /* Darker at the top */
    rgba(0, 0, 0, 0.5) 50% /* Lighter at the bottom */
  );
  padding: 20px;
  border-radius: 8px;
  color: rgb(209, 214, 224);
  max-width: 80%;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.text-containeralt {
  background: linear-gradient(
    180deg,
    rgba(15, 16, 17, 0.6) 0%, /* Darker at the top */
    rgba(15, 16, 17, 0.5) 25% /* Lighter at the bottom */
  );
  padding: 20px;
  border-radius: 8px;
  color: #f3f3f3;

  width: 90%;
  margin: auto;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 75%; /* Adjust size as needed */
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
  opacity: 1;
  cursor: pointer;
}